@media only screen and (max-width: 580px) {
    p{
        font-size: 1.2em;
    }
    .navBar{
        #userSpan{
            display:none;
        }
        button{
            font-size: 20px;
        }
    }

    .indexContent{
        p{
            color:black;
        }
    }

   #container{
       width:100%;
       background-image: linear-gradient(to top, rgba(63, 20, 113, 0.90), rgba(170, 144, 193, 0.90)),
                    url(../../images/mainbackground.jpg);
       p{
           color:white;
       }
   }
    .page-section-flex{
        flex-direction: column;
        #nearbyInfo{
            flex-direction: column;
        }
    }

    #nearbyInfo{
        img{
            width:80%;
        }
    }
    #nearbyContent{
        h3{
            font-size:2em;
        }
    }


   
    .nav-items{
        display:none;
    }
    .nav-items-expand{
        display:block;
        text-align:center;
        line-height: 1.2;
        margin-bottom: 20px;
        
        a{
            display:block;
            font-size: 1.2em;
        }
        a:focus{
            font-weight:700;
        }

    }


    #search-criteria-div{
        margin-top: 150px;
    }


    #go-back-btn {
        width: 30%;
        height: 40px;
        font-size: 15px;
        text-align: center;
        padding: 5px;
        left: .8rem;
        top: 70px;
        position: absolute;
    }
  .modal-content{
    height: 100vh;
    .textItem{
        width:100%;
    }
  } 

    .loader {     
        left: 42%;
        top: 40%;
    }
   

    .gen-report-text {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 500px;
        font-size: 38px;
    }

}