@import '_mobile', '_midSize', '_desktop', '../scorePage/scorePage', '../login/login.scss', 
'../searchCriteria/searchCriteria','../footer/footer', '../extra/checkbox', 
'../extra/buttons', '../extra/loading.scss' ;

$purple: #572a7a;
$gray: #777;
$box-shadow:0 4px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
$headerFont: 'Noto Sans KR', sans-serif;
$purple-gradient: linear-gradient(to top, rgba(63, 20, 113, 0.50), rgba(170, 144, 193, 0.50));
$div-border-radius: 20px; 

body {

    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    button {
        cursor: pointer;
    }
}

h1{
    font-family: $headerFont;
    font-weight: 700;
    font-size: 3.2em;
    margin-bottom: 10px;
}

h2{
    font-family: $headerFont;
    font-weight: 600;
    font-size: 2.8em;
    margin-bottom: 10px;
}

h3{
    font-family: $headerFont;
    color: $purple;
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.navBar {
    width: 100%;
    height: 50px;
    color: $purple;
    font-size: 27px;
    background-color:  white;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: $box-shadow;
    z-index: 100;

    .pageTitle {
        margin-right: auto;
        margin-left: 15px;
        color: $purple;
    }

    .pageTitle:hover {
        color: #8d6aa8;
    }

    #userSpan {
        margin-right: 20px;
        font-size: 20px;
        color: $gray;
    }

    #userSpan:hover {
        cursor: pointer;
        color: $purple;
    }

    i {
        margin-right: 20px;
    }
    i:active{
        outline:none;
    }
    button {
        background: none;
        color: $purple;
        border: none;
    }
    #userButton:focus{
        outline:none;
        
    }
}

#container{
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;     
    margin-bottom:20px;       
}

.page-section {
    height: 100vh;
    width: 100%;
}

.page-section-flex {
    @extend .page-section;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.unrestricted-section {
    height: auto;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

.page-section-purple{
    background-image: linear-gradient(to top, rgba(63, 20, 113, 0.70), rgba(170, 144, 193, 0.70)),
                    url(../../images/image3.jpg);
    height: 100vh; 
    display: flex;
    background-size: cover;
    box-shadow: $box-shadow;
    h3{
        border-bottom: 1px white solid;
        line-height: 3;
        color:cornsilk;
        
    }
    p{
        color:white;
        padding: 50px;
        font-size: 1.2em;
    }
                    
}




#container{
    
    
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;     
    margin-bottom:20px;       
}

.indexContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        width: 80%;
        text-align:center;
    }
    h1{
        color: $purple;
        margin-bottom: 5%;
    }
    #addressInput{
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        border: 1px black solid;
        margin: 10px 0;
        font-size:1.2em;
    }

    #addressInput:focus{
        outline: none;
        border: $purple 2px solid;
    }
    
}

#nearbyInfo {
    display:flex;
    align-items:center;
    text-align: center;
    color: #777;
    height:100%;
    
    h3{
        margin-bottom: 63px;
        margin-top: 0;
    }
    img{
        box-shadow: $box-shadow;
        margin: 30px 20px;
    }
}


.team-section{
    background-image: linear-gradient(to top, rgba(63, 20, 113, 0.70), rgba(170, 144, 193, 0.70)),
                    url(../../images/image3.jpg);
    height: 100vh; 
    display: flex;
    background-size: cover;
    box-shadow: $box-shadow;
    h3{
        border-bottom: 1px white solid;
        line-height: 3;
        color:cornsilk;
        
    }
    p{
        color:white;
        padding: 50px;
        font-size: 1.2em;
    }
                    
}


a{
    text-decoration:none;
    color: black;
}

a:hover {
    color: $purple;
}


.fab{
    font-size: 2em;
    margin: 10px; 
}




/***SLIDE RIGHT**/


.slide-right{animation:slide-right .7s cubic-bezier(.215,.61,.355,1.000) both}


@keyframes slide-right {
    0% {
        transform: translateX(-30rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translate(0);
    }
}




.slide-left{animation:slide-right .7s cubic-bezier(.215,.61,.355,1.000) both}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


