@media only screen and (max-width: 580px) {
  p {
    font-size: 1.2em;
  }

  .navBar button {
    font-size: 20px;
  }

  .indexContent p {
    color: black;
  }

  #container {
    width: 100%;
    background-image: linear-gradient(to top, rgba(63, 20, 113, 0.9), rgba(170, 144, 193, 0.9)), url(../../images/mainbackground.jpg);
  }
  #container p {
    color: white;
  }

  .page-section-flex {
    flex-direction: column;
  }
  .page-section-flex #nearbyInfo {
    flex-direction: column;
  }

  #nearbyInfo img {
    width: 80%;
  }

  #nearbyContent h3 {
    font-size: 2em;
  }

  .nav-items {
    display: none;
  }

  .nav-items-expand {
    display: block;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .nav-items-expand a {
    display: block;
    font-size: 1.2em;
  }
  .nav-items-expand a:focus {
    font-weight: 700;
  }

  #search-criteria-div {
    margin-top: 150px;
  }

  .modal-content {
    height: 100vh;
  }
  .modal-content .textItem {
    width: 100%;
  }

  .gen-report-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 500px;
    font-size: 38px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .navBar button {
    font-size: 27px;
  }

  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #container {
    background-image: linear-gradient(to top, rgba(63, 20, 113, 0.5), rgba(170, 144, 193, 0.5)), url(../../images/mainbackground.jpg);
  }

  #nearbyInfo {
    padding: 0 20px;
  }
  #nearbyInfo img {
    width: 60%;
  }

  .indexContent {
    background-color: white;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    padding: 60px 50px;
  }
  .indexContent p {
    color: #777;
  }

  .page-section-purple h3 {
    font-size: 4.5em;
  }

  .modal-content {
    width: 60%;
    position: relative;
    top: -20;
  }
  .modal-content .textItem {
    width: 65%;
  }
  .modal-content .loader {
    position: absolute;
    left: 44%;
    top: 35%;
  }
}
@media only screen and (min-width: 1000px) {
  .mainButton {
    width: 47%;
  }

  .navBar button {
    font-size: 27px;
  }

  #container {
    background-image: linear-gradient(to top, rgba(63, 20, 113, 0.5), rgba(170, 144, 193, 0.5)), url(../../images/mainbackground.jpg);
  }

  #nearbyInfo {
    padding: 0 20px;
  }
  #nearbyInfo img {
    width: 60%;
  }

  .indexContent {
    background-color: white;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    padding: 60px 50px;
  }
  .indexContent p {
    color: #777;
  }

  .page-section-purple h3 {
    font-size: 4.5em;
  }

  #search-criteria-div {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
  #search-criteria-div ul {
    display: flex;
    flex-direction: row;
  }

  .modal-content {
    width: 40%;
    position: relative;
    top: -20;
  }
  .modal-content .textItem {
    width: 65%;
  }
  .modal-content .loader {
    left: 48%;
    top: 35%;
  }
}
@media only screen and (max-width: 580px) {
  #page-section-one {
    background-image: linear-gradient(to top, white, rgba(170, 144, 193, 0.3));
  }

  #detail-parameter-modal .modal-content {
    height: auto;
  }

  #detail-parameter-header {
    margin: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .purple-body {
    background-image: linear-gradient(to top, white, rgba(170, 144, 193, 0.3));
    background-attachment: fixed;
  }

  .score-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
    margin: 0 auto;
    width: 80%;
    height: 65%;
    padding: 60px 50px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  }

  #detail-parameter-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .purple-body {
    background-image: linear-gradient(to top, white, rgba(170, 144, 193, 0.3));
    background-attachment: fixed;
  }

  .score-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
    margin: 0 auto;
    width: 80%;
    height: 65%;
    padding: 60px 50px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  }

  #detail-parameter-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }
}
.score-container h1 {
  color: grey;
  font-weight: 700;
  font-size: 5em;
  margin-bottom: 0;
  text-align: center;
}
.score-container h2 {
  color: grey;
  font-weight: 350;
  margin-top: 0.5em;
  text-align: center;
}
.score-container h3 {
  color: grey;
  font-weight: 250;
  margin-top: 0;
  text-align: center;
}
.score-container h4 {
  color: grey;
  font-size: 1.5em;
  font-weight: 500;
}

#main-container {
  display: flex;
  flex-direction: column;
}

#main-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 2em;
}
#main-score-container #main-header h1 {
  margin-top: 0.5em;
}
#main-score-container .header-container {
  position: relative;
  display: flex;
  justify-content: center;
  top: -60;
}
#main-score-container #address-container {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  top: -50;
}
#main-score-container #favoriteDiv {
  display: flex;
  flex-direction: column;
}
#main-score-container #favoriteDiv button {
  z-index: 5;
  background: none;
  border: none;
  align-self: flex-start;
  margin-top: 50px;
}
#main-score-container #favoriteDiv i {
  color: purple;
  font-size: 55px;
}
#main-score-container #favoriteDiv span {
  color: gray;
  font-size: 25px;
}

#second-score-container h3 {
  font-weight: 400;
  margin-bottom: 1em;
}
#second-score-container h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.6em;
}
#second-score-container #detail-score-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50vh;
}
#second-score-container #detail-score-container .parameter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  margin: 20px;
}
#second-score-container #detail-score-container .parameter-container:hover {
  background-color: #8d6aa8;
}
#second-score-container #detail-score-container h2 {
  color: white;
}
#second-score-container #detail-score-container h3 {
  color: white;
  margin-bottom: 0.4em;
}

.score-header {
  fill: #572a7a;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

@media screen and (max-width: 810px) {
  #second-score-container h3 {
    margin-bottom: 0.4em;
  }
}
#detail-parameter-importance-bar {
  height: 2%;
  margin: 0;
}

#detail-parameter-container h1 h2 {
  display: inline-block;
}
#detail-parameter-container img {
  width: 100%;
}

.modal-content h1 {
  color: #572a7a;
  margin-top: 25;
  margin-bottom: 0;
}
.modal-content h2 {
  color: grey;
  margin-top: 30;
  margin-bottom: 0;
  padding-right: 2em;
}
.modal-content h3 {
  color: #572a7a;
  font-size: 1.5em;
  font-weight: 1000;
  margin: 0;
}
.modal-content h4 {
  color: grey;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}
.modal-content p {
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.modal-content .disclaimer {
  color: grey;
  font-size: 0.75em;
  font-style: italic;
  margin-top: 1em;
}

.very-important {
  background-color: #300e47;
}

.important {
  background-color: #572a7a;
}

.somewhat-important {
  background-color: #9a7cb1;
}

.svg-score {
  width: 70%;
  max-height: 400px;
  margin: 0 auto;
}

#score {
  display: flex;
  position: relative;
  top: -50;
  width: 35%;
  margin: 0 auto;
}

.svg-bg {
  fill: none;
  stroke: #dfdfdf;
  stroke-width: 5px;
}

.svg-color {
  fill: none;
  stroke-width: 6px;
  animation: fill 5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}
.score-circle-container {
  max-height: 300px;
}

.score-footer {
  background-color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}
.modal .modal-content div {
  margin: 10px;
}
.modal .modal-content .close {
  color: #777;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
#loginContainer .pageTitle {
  color: #572a7a;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3em;
  margin-bottom: 10%;
  text-align: center;
}
#loginContainer .textItem {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  font-size: 1.2em;
}
#loginContainer .textItem:focus {
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}
.modal .modal-content div {
  margin: 10px;
}
.modal .modal-content .close {
  color: #777;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
#loginContainer .pageTitle {
  color: #572a7a;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3em;
  margin-bottom: 10%;
  text-align: center;
}
#loginContainer .textItem {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  font-size: 1.2em;
}
#loginContainer .textItem:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  #search-div {
    padding: 25px;
  }
  #search-div h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.65em;
    font-weight: 700;
    color: #572a7a;
  }

  .search-criteria-element {
    display: flex;
    flex-direction: column;
  }
  .search-criteria-element label {
    font-weight: 500;
    color: white;
    font-size: 1.1em;
  }

  #search-crit-div select {
    font-size: 14px;
    margin-left: 0;
  }

  #defaultsLoadedSpan {
    color: white;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  #search-div h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  #search-crit-div select {
    margin-left: 10px;
    font-size: 16px;
  }

  #defaultsLoadedSpan {
    color: #572a7a;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) and (min-width: 480px) and (max-width: 750px) {
  #search-div h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.4em;
  }

  .search-criteria-element {
    display: flex;
    flex-direction: column;
  }

  #search-crit-div select {
    margin-left: 0;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  #search-div h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  #search-crit-div select {
    margin-left: 10px;
    font-size: 16px;
  }

  #defaultsLoadedSpan {
    color: #572a7a;
  }
}
#search-div {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 800px;
}
#search-div h3 {
  text-align: center;
}

#go-back-div {
  width: 100%;
}

#search-crit-div {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
#search-crit-div .search-criteria-element {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 5px 5% 5px 5%;
}
#search-crit-div select {
  height: 30px;
  border: 2px solid #572a7a;
  border-radius: 2px;
  background-color: #eee;
  color: grey;
}

#defaultsLoadedSpan {
  margin-top: 15px;
}

.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  transition: all 3s ease-in-out;
  z-index: 4;
  position: absolute;
  top: 80%;
}

#error-msg {
  display: none;
}

.toTitleCase {
  text-transform: capitalize;
}

@media only screen and (max-width: 580px) {
  #footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer .footerContent {
    align-items: center;
  }
  #footer .footerContent p {
    font-size: 1em;
    margin: 0 10px 10px 10px;
  }
  #footer .footerContent h3 {
    margin: 0;
  }

  .footerContent-extra {
    display: none;
  }

  .navigation-desktop {
    display: none;
  }

  #expand-nav {
    margin-bottom: 0;
  }
  #expand-nav #down {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  #footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  #footer .footerContent {
    width: 30%;
  }
  #footer h3 {
    margin-bottom: 10px;
  }
  #footer .footerContent-extra {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  #footer #iconsDiv {
    justify-content: center;
  }

  .navigation-desktop {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .navigation-desktop a {
    margin-bottom: 10px;
  }

  .navigation-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  #footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  #footer .footerContent {
    width: 30%;
  }
  #footer h3 {
    margin-bottom: 10px;
  }
  #footer .footerContent-extra {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  #footer #iconsDiv {
    justify-content: center;
  }

  .navigation-desktop {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .navigation-desktop a {
    margin-bottom: 10px;
  }

  .navigation-mobile {
    display: none;
  }
}
#footer {
  display: flex;
  width: 100%;
}
#footer .footerContent {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
#footer p {
  margin-top: 0;
}

.main-footer {
  background-image: linear-gradient(to top, rgba(253, 251, 251, 0.7), rgba(170, 144, 193, 0.3));
}

.socialicon {
  width: 30px;
}

#iconsDiv {
  display: flex;
}

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topDiv {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }

  #profileImg {
    width: 80vw;
    height: 80vw;
  }

  #defaultCriteriaContainer h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.65em;
    font-weight: normal;
    color: #572a7a;
  }
  #defaultCriteriaContainer #defaultCriteriaList {
    width: 300px;
  }
  #defaultCriteriaContainer .search-criteria-element {
    width: 80%;
  }
  #defaultCriteriaContainer .search-criteria-element label {
    font-weight: 500;
    color: black;
    font-size: 1.1em;
  }
  #defaultCriteriaContainer .search-criteria-element select {
    font-size: 14px;
    margin-left: 0;
  }

  .savedSearchesContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .savedSearchesContainer #savedSearchesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv {
    height: 80vw;
    max-height: 350px;
    border: 5px solid purple;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv .savedSearchScore {
    align-self: flex-start;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv .savedSearchTextDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv .savedSearchTextDiv .savedSearchCriteriaDiv {
    flex-wrap: wrap;
    font-size: 20px;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv .savedSearchTextDiv .savedSearchCriteriaDiv .savedSearchCriteriaSpan {
    margin: 0px 5px 0px 5px;
  }
  .savedSearchesContainer #savedSearchesDiv .savedSearchDiv .searchFavoriteButton {
    align-self: flex-start;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .topDiv #profileInfoDiv #profileImg {
    height: 300px;
    width: 300px;
  }

  #defaultCriteriaList {
    width: 800px;
  }
  #defaultCriteriaList .search-criteria-element {
    width: 40% select;
    width-margin-left: 10px;
    width-font-size: 16px;
  }

  .search-h3 {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 750px) {
  #defaultCriteriaList {
    width: 400px;
  }
  #defaultCriteriaList .search-criteria-element {
    width: 40%;
  }
  #defaultCriteriaList .search-criteria-element select {
    margin-left: 0;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  #profileImg {
    height: 300px;
    width: 300px;
  }

  #defaultCriteriaList {
    width: 800px;
  }

  .search-h3 {
    margin-bottom: 1em;
  }

  #search-crit-div .search-criteria-element {
    width: 40%;
  }
  #search-crit-div select {
    margin-left: 10px;
    font-size: 16px;
  }
}
html {
  height: 100%;
}

.mainButton {
  max-width: 300px;
}

#mainBodyDiv {
  background-image: linear-gradient(to top, rgba(63, 20, 113, 0.5), rgba(170, 144, 193, 0.5));
  background-attachment: fixed;
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profileInfoDiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profileInfoDiv span {
  margin-top: 5px;
}
#profileInfoDiv #profileImg {
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #572a7a;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}
#profileInfoDiv #editProfileButton {
  font-size: 12px;
}

#defaultCriteriaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#defaultCriteriaList {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
#defaultCriteriaList .search-criteria-element {
  display: flex;
  justify-content: space-between;
  padding: 5px 5% 5px 5%;
}
#defaultCriteriaList select {
  height: 30px;
  border: 2px solid #572a7a;
  border-radius: 2px;
  background-color: #eee;
  color: grey;
}

.savedSearchesContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savedSearchesContainer #savedSearchesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savedSearchesContainer .savedSearchDiv {
  width: 90%;
  margin-bottom: 10px;
  margin-right: 0;
  padding: 10px;
  background-color: white;
  border: 3px solid purple;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.savedSearchesContainer .savedSearchScore {
  font-size: 50px;
}
.savedSearchesContainer .savedSearchTextDiv {
  width: 80%;
  text-align: center;
}
.savedSearchesContainer .savedSearchTextDiv .addressText {
  font-size: 30px;
  background: none;
  border: none;
}
.savedSearchesContainer .savedSearchTextDiv .addressText:hover {
  color: purple;
}
.savedSearchesContainer .savedSearchTextDiv .savedSearchCriteriaDiv {
  display: flex;
  justify-content: space-between;
}
.savedSearchesContainer .searchFavoriteButton {
  background: none;
  border: none;
}
.savedSearchesContainer .searchFavoriteButton:hover {
  opacity: 0.5;
}
.savedSearchesContainer i {
  font-size: 30px;
  color: purple;
}

/*mobile*/
@media only screen and (max-width: 480px) {
  .mainButton {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
    padding: 10px 30px;
  }

  .see-results-btn {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 10px 15px;
  }
}
/*midsize*/
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .mainButton {
    width: 47%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
    padding: 10px 30px;
  }

  #go-back-btn {
    margin-bottom: 15px;
  }

  .see-results-btn {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) and (min-width: 480px) and (max-width: 750px) {
  .see-results-btn {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 10px 15px;
  }
}
/*desktop*/
@media only screen and (min-width: 1000px) {
  .see-results-btn {
    margin-top: 50px;
  }

  #go-back-btn {
    margin-bottom: 1.5em;
  }

  .mainButton {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.5em;
    padding: 10px 30px;
  }
}
.mainButton {
  background-color: #572a7a;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  border: none;
}
.mainButton:focus {
  outline: none;
}
.mainButton:active {
  transform: translate(0px, 1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s ease-out;
}

.see-results-btn {
  width: 40%;
}

#go-back-btn {
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  font-size: 0.75em;
}

/*mobile*/
@media only screen and (max-width: 480px) {
  .loader {
    left: 42%;
    top: -60;
  }

  .gen-report-text {
    top: 70;
  }
  .gen-report-text h2 {
    color: white;
    font-size: 1em;
  }
}
/*midsize*/
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .loader {
    left: 46%;
    top: 35%;
  }

  .gen-report-text {
    bottom: 5%;
  }
  .gen-report-text h2 {
    color: #777;
  }
}
/*desktop*/
@media only screen and (min-width: 1000px) {
  .loader {
    left: 46%;
    top: 35%;
  }

  .gen-report-text {
    bottom: 5%;
  }
  .gen-report-text h2 {
    color: #777;
  }
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #572a7a;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
  position: absolute;
  z-index: 3;
}

#overlay {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  border-radius: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gen-report-text {
  position: absolute;
  z-index: 4;
  width: 100%;
}
.gen-report-text h2 {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body button {
  cursor: pointer;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 3.2em;
  margin-bottom: 10px;
}

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 2.8em;
  margin-bottom: 10px;
}

h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: #572a7a;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.navBar {
  width: 100%;
  height: 50px;
  color: #572a7a;
  font-size: 27px;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  z-index: 100;
}
.navBar .pageTitle {
  margin-right: auto;
  margin-left: 15px;
  color: #572a7a;
}
.navBar .pageTitle:hover {
  color: #8d6aa8;
}
.navBar #userSpan {
  margin-right: 20px;
  font-size: 20px;
  color: #777;
}
.navBar #userSpan:hover {
  cursor: pointer;
  color: #572a7a;
}
.navBar i {
  margin-right: 20px;
}
.navBar i:active {
  outline: none;
}
.navBar button {
  background: none;
  color: #572a7a;
  border: none;
}
.navBar #userButton:focus {
  outline: none;
}

#container {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.page-section, .page-section-flex {
  height: 100vh;
  width: 100%;
}

.page-section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unrestricted-section {
  height: auto;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.page-section-purple {
  background-image: linear-gradient(to top, rgba(63, 20, 113, 0.7), rgba(170, 144, 193, 0.7)), url(../../images/image3.jpg);
  height: 100vh;
  display: flex;
  background-size: cover;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}
.page-section-purple h3 {
  border-bottom: 1px white solid;
  line-height: 3;
  color: cornsilk;
}
.page-section-purple p {
  color: white;
  padding: 50px;
  font-size: 1.2em;
}

#container {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.indexContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indexContent p {
  width: 80%;
  text-align: center;
}
.indexContent h1 {
  color: #572a7a;
  margin-bottom: 5%;
}
.indexContent #addressInput {
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  border: 1px black solid;
  margin: 10px 0;
  font-size: 1.2em;
}
.indexContent #addressInput:focus {
  outline: none;
  border: #572a7a 2px solid;
}

#nearbyInfo {
  display: flex;
  align-items: center;
  text-align: center;
  color: #777;
  height: 100%;
}
#nearbyInfo h3 {
  margin-bottom: 63px;
  margin-top: 0;
}
#nearbyInfo img {
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  margin: 30px 20px;
}

.team-section {
  background-image: linear-gradient(to top, rgba(63, 20, 113, 0.7), rgba(170, 144, 193, 0.7)), url(../../images/image3.jpg);
  height: 100vh;
  display: flex;
  background-size: cover;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}
.team-section h3 {
  border-bottom: 1px white solid;
  line-height: 3;
  color: cornsilk;
}
.team-section p {
  color: white;
  padding: 50px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #572a7a;
}

.fab {
  font-size: 2em;
  margin: 10px;
}

/***SLIDE RIGHT**/
.slide-right {
  animation: slide-right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-30rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
  }
}
.slide-left {
  animation: slide-right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*# sourceMappingURL=index.css.map */
