$purple: #572a7a;
$gray: #777;
$box-shadow:0 4px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
$headerFont: 'Noto Sans KR', sans-serif;


.purple-body {
    background-image:linear-gradient(to top, rgba(253, 251, 251, 0.7), rgba(170, 144, 193, 0.30));
}


.score-container {
    //white box with shadow and outline proportional to outer div
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
    margin: 0 auto;
    width: 80%;
    height: 65%;
    padding: 60px 50px;
    box-shadow: $box-shadow;
    h1 {
        color:$purple;
        font-weight:700;
        font-size:7em;
        margin-top: .3em;
    }
    h2 {
        color:grey;
        font-weight:350;
        font-size: 4em;
        margin-top:.5em;
    }
    h3 {
        color: grey;
        font-weight:250;
        font-size:3em;
        margin-top: 0;
    }
}

#main-score-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 6em;
    margin-bottom:2em;
    .header-container{
        position: relative;
        display: flex;
        justify-content: center;
        position: relative;
        top: -60;
    }
    h2{
        font-size:7em;
        text-align:center;
        margin-top: 0
    }
    #address-container{
        text-align:center;
        position: relative;
        top: -50
    }
    
}

#second-score-container {
    overflow: scroll;
    max-height: 500px;
    h3 {
        font-weight:400;
        margin-bottom: 1em;
    }
    .header-container{
        text-align: center;
    }
    #detail-score-container {
        //flex for squares inside
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 50vh;
        .parameter-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: $box-shadow;
            margin: 20px;
        }
        h2 {
            font-size:2.8em;
            color: white;
        }
        h3 {
            font-size:2.2em;
            color: white;
            margin-bottom: .4em;
        }
    }
}



.score-header{
    fill: $purple;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

@media screen and (max-width: 810px) {
    #second-score-container {
        h3 {
            margin-bottom: .4em;
        }
    }
}


//add in scroll for box overflow
//maybe not do containers in the same way and adjust the second container's height to fit whatever is needed for it's content?

#detail-parameter-importance-bar {
    height: 2%;
    margin: 0;
}

#detail-parameter-container {
    h1 h2 {
        display:inline-block;
    }
    img {
        width: 100%;
    }
    #detail-parameter-header {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}

.modal-content {
    h1 {
        color:$purple;
    }
    h2 {
        color:grey;
    }
    h3 {
        color: $purple;
        font-size: 1.5em;
        font-weight: 1000;
        margin: 0;
    }
    h4 {
        color: grey;
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 0;
    }
    p {
        margin-top: .25em;
        margin-bottom: 1em;
    }
    .disclaimer {
        color: grey;
        font-size: .75em;
        font-style: italic;
        margin-top: 1em;
    }
}

.very-important {
    background-image: linear-gradient(to top, #19012c, #a785c2);
}
.important {
    background-image: linear-gradient(to top, #361054, #c6b0d7);
}
.somewhat-important {
    background-image: linear-gradient(to top, #765093, #e5d5ef);
}

.svg-score{
    width:70%;
    max-height:400px;
    margin: 0 auto;
}

#score{
    display:flex;
    position: relative;
    top: -50;
    width: 35%;
    margin: 0 auto;
}

.svg-bg{
    fill: none;
    stroke: rgb(223, 223, 223);
    stroke-width:5px;
}

.svg-color{
    fill: none;
    stroke-width: 6px;
    animation: fill 5s ease-in-out;
    animation-fill-mode: forwards;
    // stroke-linecap: round;
}

@keyframes fill {
    to{
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes fill {
    to{
        stroke-dashoffset: 0;
    }
}

.score-circle-container{
    max-height: 300px;
}

.score-footer {
    background-color: white;
}