@import '_mobile', '_midSize', '_desktop';

$purple: #572a7a;
$gray: #777;
$box-shadow:0 4px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
$headerFont: 'Noto Sans KR', sans-serif;

$purple-gradient: linear-gradient(to top, rgba(63, 20, 113, 0.50), rgba(170, 144, 193, 0.50));
$div-border-radius: 20px; 


#search-div {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 800px;
    h3 {
        text-align: center;
    }
}

#go-back-div {
    width: 100%;
}

#search-crit-div {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    .search-criteria-element{
        width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 5px 5% 5px 5%;
    }
    select {
        height: 30px;
        border: 2px solid $purple;
        border-radius: 2px;
        background-color: #eee;
        color: grey;
    }
}

#defaultsLoadedSpan {
    margin-top: 15px;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    transition: all 3s ease-in-out;
    z-index: 4;
    position: absolute;
    top: 80%;
}


#error-msg {
    display: none;
}


.toTitleCase{
    text-transform: capitalize;
}

