@import 'mobile', 'midSize', 'desktop';
$purple: #572a7a;
$gray: #777;
$box-shadow:0 4px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
$headerFont: 'Noto Sans KR', sans-serif;

$purple-gradient: linear-gradient(to top, rgba(63, 20, 113, 0.50), rgba(170, 144, 193, 0.50));
$div-border-radius: 20px;
body {
    // background-color: white;
    background-image: $purple-gradient;
    font-family: 'Roboto', sans-serif;
    
    button {
        cursor: pointer;
    }
}


.regContainer {
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: $box-shadow;
    padding: 60px 50px;
    border-radius: 10px;
    transform: translateY(5%);

    .pageTitle {
        font-size: 35px;
    }

    .regLower {
        display: flex;
        align-items: center;

        .regFields {
            display: flex;
            flex-direction: column;
            width: 400px;

            input {
                height: 50px;
                font-size: 20px;
                color: black;
                padding: 10px;
                border: 2px solid $purple;
                border-radius: 5px;
                background: none;
                margin-bottom: 18px;
            }
        }
        button {
            width: auto;

        }
    }

    #loginLink {
        text-align: center;
    }
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    widows: 100%;
    z-index: -1;
    opacity: .5;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}