@media only screen and (min-width: 480px) and (max-width: 1000px) {
    
    .topDiv #profileInfoDiv #profileImg {
        height: 300px;
        width: 300px;
    }

    #defaultCriteriaList {
        width: 800px;
        .search-criteria-element {
            width: 40%
            select {
                margin-left: 10px;
                font-size: 16px;
            }
        }
    }

    .search-h3 {
        margin-bottom: 1em;
    }
    } 
    @media only screen and (min-width: 480px) and (max-width: 750px) {
        #defaultCriteriaList {
            width: 400px;
            .search-criteria-element {
                width: 40%;
                select {
                    margin-left: 0;
                    font-size: 16px;
                }
            }
        }

}