@media only screen and (max-width: 480px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navBar {
        
    }
    .topDiv {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    #profileImg {
        width: 80vw;
        height: 80vw;
    }

    #defaultCriteriaContainer {
        h3 {
            margin-top: 0;
            margin-bottom: .25em;
            font-size: 1.65em;
            font-weight: normal;
            color: $purple;
        }
        #defaultCriteriaList {
            width: 300px;
        }
        .search-criteria-element {
            width: 80%;
            label {
                font-weight: 500;
                color: black;
                font-size: 1.1em;
            }
            select {
                font-size: 14px;
                margin-left: 0;
            }
        }
    }


    .savedSearchesContainer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        #savedSearchesDiv {
            display: flex;
            flex-direction: column;
            align-items: center;

            .savedSearchDiv {
                height: 80vw;
                max-height: 350px;
            border: 5px solid purple;

                .savedSearchScore {
                    align-self: flex-start;
                }

                .savedSearchTextDiv {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .savedSearchCriteriaDiv {
                        flex-wrap: wrap;
                        font-size: 20px;

                        .savedSearchCriteriaSpan {
                            margin: 0px 5px 0px 5px;
                        }
                    }
                }

                .searchFavoriteButton {
                    align-self: flex-start;
                }
            }
            
        }
    }

}
