@media only screen and (max-width: 580px) {
    
    
    .topDiv{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #profileInfoDiv{
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }

    #defaultCriteriaList{
        padding: 0px;
    }


    .topDiv #profileInfoDiv #profileImg {
        width: 200px;
        height: 200px;
    }

    .savedSearchesContainer {
        text-align: center;
    }


    .topDiv #profileInfoDiv {
        font-size: 30px;
    }

    .new-report-btn {
        position: absolute;
        margin: -900 0 0 600;
    }
}