@import '_mobile', '_midSize', '_desktop', '../index/index.scss';



.topDiv {
    display: flex;

    #profileInfoDiv {
        display: flex;
        flex-direction: column;
        

        #profileImg {
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid $purple;
            box-shadow: $box-shadow;
        }

        #editProfileButton {
            font-size: 12px;
        }
    }
   
    #defaultCriteriaContainer {
        display: flex;
        flex-direction: column;

        #defaultCriteriaList {
            width: 100%;
            display: flex;
            flex-direction: column;
            
            

            .defaultCriteriaDiv {
                width: 100%;
                // border-bottom: 1px solid purple;
                display: flex;
                justify-content: flex-start;
            }
        }

        select {
            margin-left: auto;
            margin-left: 10px;
            height: 30px;
            // border-color: $purple;
            border: 2px solid $purple;
            border-radius: 2px;
            background-color: #eee;
            font-size: 16px;
        }


        li {
            list-style: none;
            display: flex;
            flex-direction: row;
        }
    }
}

