/*mobile*/
@media only screen and (max-width: 480px) {
    .mainButton {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 1.5em;
        padding: 10px 30px;
    }
    .see-results-btn {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.2em;
        padding: 10px 15px;
    }
}


/*midsize*/
@media only screen and (min-width: 480px) and (max-width: 1000px) {
    .mainButton {
        width:47%;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 1.5em;
        padding: 10px 30px;
    }
    #go-back-btn {
        margin-bottom: 15px;
    }
    .see-results-btn {
        margin-top: 40px;
    }
    @media only screen and (min-width: 480px) and (max-width: 750px) {
        .see-results-btn {
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 1em;
            padding: 10px 15px;
        }
    }   
}

/*desktop*/
@media only screen and (min-width: 1000px) {
    .see-results-btn {
        margin-top: 50px;
    }
    #go-back-btn {
        margin-bottom: 1.5em;
    }
    .mainButton {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 1.5em;
        padding: 10px 30px;
    }
}


.mainButton {
    background-color: $purple;
    color: white;
    border-radius: 15px;
    box-shadow: $box-shadow;
    border: none;

    &:focus{
        outline:none;
    }

    &:active{
        transform: translate(0px, 1px);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .2s ease-out;
    }
}

.see-results-btn {
    width: 40%;
}

#go-back-btn {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    font-size: .75em;
}
